---
import Layout from '../layouts/BaseLayout.astro';
import Card from '../components/Card.astro';
import axios from 'axios';

let reversedMessages = [];

async function loadMessages() {
  const response = await fetch('https://pikm-pj8ksyy1gtrn.deno.dev/messages');
  if (!response.ok) {
    throw new Error('Failed to load messages');
  }
  const data = await response.json();
  reversedMessages = data.reverse();
}
await loadMessages();

---
<Layout title="Beranda">
  <div class="homebox">
    {reversedMessages.map((message) => (
    
    <div transition:animate="fade">
        <Card 
          href={`/message/${message._id}`}
          text={message.text}
          likes={message.likes}
          createdAt={message.createdAt}
          _id={message._id}
          user={message.user}
        />
      </div>

    ))}
  </div>
</Layout>

<style>
   .homebox {
    list-style: none;
    padding: 0;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
</style>
